.parkinglot > * {
    border: 1px solid #ffffff; /* Borde blanco para las plazas de parking*/
}
.shadowed-vbox {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 0, 2, 0, 0);
    -fx-background-color: #60605b; /* Fondo oscuro */
    -fx-border-color: black;
    border: 3px solid #00000;
}
