.shadowed-vbox {
    -fx-background-color: #60605b;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0, 3);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.rectangleDown {
    -fx-stroke: white;
    -fx-stroke-width: 2;
    -fx-stroke-dash-array: 230 150 10 58 11;
}

.rectangleUp {
    -fx-stroke: white;
    -fx-stroke-width: 2;
    -fx-stroke-dash-array: 150 0 10 60 10 150 80;
    -fx-padding-left: 3px;
}

/*Estilos personalizados para fila arriba */
.parkingButtonUpsideRow {
    -fx-background-color: #60605b;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-max-width: Infinity; /* Permitir crecimiento en ancho */
    -fx-max-height: Infinity; /* Permitir crecimiento en alto */
    -fx-border-color: white;
    -fx-border-width: 2px 1px 0px 2px; /* top right bottom left */
    -fx-border-style: solid solid none solid; /* Apply border only to top, bottom, and left */
    -fx-alignment: bottom-center;
}

/*Estilos personalizados para fila abajo*/
.parkingButtonDownRow {
    -fx-background-color: #60605b;
    -fx-text-fill: white;
    -fx-font-size: 14px;

    -fx-max-width: Infinity; /* Permitir crecimiento en ancho */
    -fx-max-height: Infinity; /* Permitir crecimiento en alto */
    -fx-border-color: white;
    -fx-border-width: 0px 1px 2px 2px; /* top right bottom left */
    -fx-alignment: top-center;
}

/*Estilos personalizados para plazas de las esquinas*/
.sp19 {
    -fx-background-color: #60605b;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-color: white;
    -fx-border-width: 0px 3px 2px 2px;
    -fx-border-style: solid solid solid solid;

    -fx-max-width: Infinity; /* Permitir crecimiento en ancho */
    -fx-max-height: Infinity; /* Permitir crecimiento en alto */
    -fx-alignment: top-center;

}

.sp10 {
    -fx-background-color: #60605b;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-max-width: Infinity; /* Permitir crecimiento en ancho */
    -fx-max-height: Infinity; /* Permitir crecimiento en alto */
    -fx-border-color: white;
    -fx-border-width: 0px 1px 2px 3px;
    -fx-border-style: solid solid solid solid;
    -fx-alignment: top-center;
}

.sp9 {
    -fx-background-color: #60605b;
    -fx-text-fill: white;

    -fx-font-size: 14px;

    -fx-max-width: Infinity; /* Permitir crecimiento en ancho */
    -fx-max-height: Infinity; /* Permitir crecimiento en alto */
    -fx-border-color: white;
    -fx-border-width: 2px 3px 0px 2px;
    -fx-border-style: solid solid none solid;
    -fx-alignment: bottom-center;
}

.sp0 {
    -fx-background-color: #60605b;
    -fx-text-fill: white;
    -fx-font-size: 14px;

    -fx-max-width: Infinity; /* Permitir crecimiento en ancho */
    -fx-max-height: Infinity; /* Permitir crecimiento en alto */
    -fx-border-color: white;
    -fx-border-width: 2px 1px 0px 3px; /* top right bottom left */
    -fx-border-style: solid solid none solid; /* Apply border only to top, bottom, and left */
    -fx-alignment: bottom-center;
}

/* Estilos personalizados para el login */
.border-pane {
    -fx-background-color: #ffffff;
}

.vbox-center {
    -fx-background-color: #d5d5d5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 20, 0.5, 0, 5);
}

.text-field {
    -fx-border-color: transparent;
    -fx-background-color: #ffffff;
    -fx-pref-height: 35px;
    -fx-font-size: 1.1em;
}

.combo-box {
    -fx-font-size: 1.1em;
    -fx-background-color: transparent;
}

.combo-box .list-cell:hover {
    -fx-background-color: #d5d5d5;
    -fx-text-fill: #000000;
}

.combo-box .combo-box-popup .list-cell:selected {
    -fx-background-color: EE5593;
}

.hyperlink {
    -fx-text-fill: #a3a3a3;
    -fx-font-size: 1.1em;
}

.hyperlink:hover {
    -fx-text-fill: #EE5593;
    -fx-underline: false;
    -fx-font-size: 1.2em;
}

.hyperlink:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: #EE5593;
    -fx-underline: false;
    -fx-font-size: 1.2em;
}

.hyperlink:pressed {
    -fx-underline: true;
}

.title-label {
    -fx-font-size: 24px;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-padding: 20px 0 10px 0;
}

.button-common {
    -fx-font-size: 1.1em; /* Tamaño de la fuente */
    -fx-padding: 10px 20px; /* Relleno */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-background-radius: 5px; /* Bordes redondeados */
    -fx-cursor: hand; /* Cambia el cursor al pasar sobre el botón */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0, 3);
}

.button-transparent {
    -fx-background-color: transparent;
}

.primary-button {
    -fx-background-color: linear-gradient(to bottom, #EE5593, rgba(238, 85, 147, 0.8));
    -fx-text-fill: white; /* Color del texto */
    -fx-pref-height: 40px;
}

.secondary-button {
    -fx-background-color: transparent;
    -fx-text-fill: #EE5593; /* Color del texto */
    -fx-pref-height: 37px;
    -fx-border-width: 1px;
    -fx-border-color: linear-gradient(to bottom, #CC467A, rgba(204, 70, 122, 0.8));
}

.button-common:hover {
    -fx-scale-x: 1.05; /* Escala en el eje X */
    -fx-scale-y: 1.05; /* Escala en el eje Y */
}

.button-primary:pressed {
    -fx-background-color: linear-gradient(to bottom, #CC467A, rgba(204, 70, 122, 0.8));
}

.separator-line {
    -fx-background-color: #60605b;
    -fx-pref-height: 1px;
}

.label {
    -fx-font-size: 1.1em;
}

.label.info-title-label {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-padding: 10px 0 0 0;
}

.label.lastExit {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.5, 0, 3); /* Sombra de texto para simular profundidad */
    -fx-background-image: url("../images/license_plate.png"); /* Imagen de fondo (si es necesario) */
    -fx-background-repeat: no-repeat;
    -fx-background-position: left; /* Centra la imagen en el contenedor */
    -fx-background-size: contain;  /* Ajusta la imagen dentro del espacio */
    -fx-background-color: #ffffff; /* Fondo blanco para la matrícula */
    -fx-background-radius: 2px;
    -fx-border-radius: 2px; /* Bordes redondeados */
    -fx-border-width: 1px; /* Borde delgado */
    -fx-border-color: #333333; /* Borde oscuro */
    -fx-max-width: 150px; /* Ajusta el ancho de la matrícula (puedes cambiarlo según el tamaño que desees) */
    -fx-max-height: 35px; /* Altura de la matrícula */
    -fx-font-weight: 600; /* Texto en negrita */
    -fx-font-size: 1.6em; /* Ajuste del tamaño de la fuente para que sea legible */
    -fx-font-family: "Arial", sans-serif; /* Fuente común para simular texto de matrícula */
    -fx-alignment: center; /* Centra el texto dentro de la etiqueta */
    -fx-text-fill: #333333; /* Color oscuro para el texto, como en las matrículas */
    -fx-padding: 5px 10px; /* Espaciado dentro de la etiqueta */
}


.parkingPane {
    -fx-background-color: #d5d5d5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 20, 0.5, 0, 3);
    -fx-padding: 20px;
}

.region-with-background {
    -fx-background-image: url("../images/sueloParking.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

/* Estilo básico para el ProgressBar de splash screen */
.loading-bar {
    -fx-background-color: transparent; /* Fondo transparente por defecto */
    -fx-pref-height: 12px;  /* Altura del ProgressBar */
    -fx-pref-width: 350px;  /* Ancho del ProgressBar */
}

/* Estilo del track */
.loading-bar .track {
    -fx-background-color: transparent; /* Fondo transparente por defecto */
    -fx-border-color: transparent;  /* Eliminar bordes del track */
    -fx-background-radius: 10px;  /* Bordes redondeados */
}

.loading-bar .bar {
    -fx-background-color: #EE5593;
}